* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  background-color: #d5e5d5;
}

.navigationSection {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cae0bc;
}
.navigationBar {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #62825d;
  font-family: "Delius Swash Caps", cursive;
}
.homeOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #62825d;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  margin-right: 20px;
}
/*-----------------------------------------------------------------------------------------------------------*/
.aboutUs {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.aboutUs h1 {
  box-sizing: border-box;
  color: #62825d;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "League Script", cursive;
  font-size: 70px;
  font-weight: 800;
  padding-top: 30px;
}

.informationTexts h2 {
  color: #62825d;
  padding: 10px;
  font-family: "League Script", cursive;
  font-size: 45px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.informationTexts p {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 30px;
}
/*-----------------------------------------------------------------------------------------------------------*/
.footerField {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #cae0bc;
}

.infoFooter b {
  display: inline;
}

.infoFooter p {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 1em;
  padding-bottom: 1em;
}
