.navigationSection,
body {
  display: flex;
  box-sizing: border-box;
}

.banner,
.banner2 {
  width: 100%;
  overflow: hidden;
}

.category h1,
.menu h1,
.navigationBar,
.navigationSection,
body {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  min-height: 100vh;
}

.navigationSection {
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cae0bc;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menuOpen,
td,
th {
  padding: 10px;
}

.navigationBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #62825d;
  font-family: "Delius Swash Caps", cursive;
}

.navigationBar a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s, background-color 0.3s;
}

.navigationBar a:hover {
  color: #fff;
  background-color: #62825d;
  border-radius: 5px;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navigationBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.menuOpen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #62825d;
  border-radius: 20px;
  color: #fff;
  margin-right: 20px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
main {
  flex: 1;
  margin-top: 80px;
  background-color: #d5e5d5;
}

.banner {
  height: 90px;
}

.banner img,
.banner2 img {
  width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  color: #818c78;
  text-align: left;
}
td {
  border-bottom: 1px solid #ddd;
}
tr {
  height: 50px;
}
tr:hover {
  background-color: #bad8b6;
}

.category,
.menu,
.orderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.category h1,
.menu h1 {
  color: #62825d;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "League Script", cursive;
  font-size: 70px;
  font-weight: 800;
}

.category h2,
.orderSection h2,
h3 {
  color: #62825d;
  padding: 10px;
  font-size: 45px;
  justify-content: center;
  text-align: center;
  font-family: "League Script", cursive;
}

.category h2 {
  align-items: center;
}

.orderSection h2,
h3 {
  align-items: center;
  text-decoration: underline;
}

.category p,
.listedOptions {
  padding-right: 60px;
  padding-left: 60;
  justify-content: center;
}

.category p {
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  font-family: "League Script", cursive;
  font-size: 25px;
  font-weight: 800;
}

.category ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}

.category ul li {
  padding: 5px 0;
}

.checkBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.checkBoxContainer label {
  display: flex;
  align-items: center;
  margin: 5px;
}

.listedOptions {
  align-items: center;
  text-align: center;
}

.orderForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 {
  height: 30px;
}

.footerField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #cae0bc;
}

.contectInfo b,
.openingHoursInfo {
  display: inline;
}

.contectInfo p,
.openingHoursInfo {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 1em;
  padding-bottom: 1em;
}

.openingHoursInfo {
  grid-template-columns: 1/2;
  grid-template-rows: 1;
}

.contectInfo {
  grid-template-columns: 2/3;
  grid-template-rows: 1;
}

@media (max-width: 480px) {
  .navigationBar {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footerField {
    grid-template-columns: 1fr;
  }
}

#calculateTotal,
#chooseCategory,
#togglePriceAndAllergies,
#togglelunchBuffet {
  background-color: #889e73;
  color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
